ion-spinner.location-spinner {
    margin-left: 10px;
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
  }

  .data-last-updated-label {
    color: darkgray;
    font-size: 0.8em;
  }